# Ignore Python cache and compiled files
__pycache__/
*.py[cod]
*$py.class

# Ignore virtual environments
.venv/
venv/

# Ignore environment files
.env

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints

# Ignore images folder
images/

# Ignore IDE files
.vscode/
.idea/

# Ignore macOS system files
.DS_Store

# Ignore pip and build directories
*.egg-info/
dist/
build/