python-dotenv
langchain-community
langchain-astradb
langchain-openai
ragstack-ai-knowledge-store
networkx
widgetsnbextension 
ipywidgets 
pyvis 
prettyprint 
cassio
boto3
unstructured
unstructured-ingest[astradb]==0.2.2
unstructured-ingest[embed-huggingface]
unstructured-ingest[remote]
transformers 
sentence-transformers 
torch
prettyprinter
unstructured-ingest[remote]